@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">.NET 💜 Azure</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <img src="https://s2.qwant.com/thumbr/0x380/c/5/3ecdfb9b3eb9603e792bfda0741c5cd005fbc1a162317fa7abadda1824a272/Cool-pictures-wallpapers-hd.jpg?u=https%3A%2F%2Fwww.pixelstalk.net%2Fwp-content%2Fuploads%2F2016%2F09%2FCool-pictures-wallpapers-hd.jpg&q=0&b=1&p=0&a=0" />
</div>
